/* Basic reset */

html,
body {
    margin: 0;
    padding: 0;
    border: 0 none;
}

/* Adding some code */

header,
footer {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 50;
}
    
    